:root {
  --accent-color: #2196f3;
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --description-color: #757575;
  --title-color: #212121;
  --color-hero-title: #ffffff;
  --logo-color: #000000;
  --btn-bg-hover: #188ce8;
}
